<!DOCTYPE html>
<html>
<head>
  <title>DepotOnja</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %>  
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-1.8.12.custom.min" %>  
  <%= javascript_include_tag "jquery.highlightFade" %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
  
<%= controller.controller_name %>
#<%= controller.action_name %>
  
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Learning Ruby on Rails" %>
  </div>
  
  <div id="columns">
    <div id="side">
    <% if @cart %>
      <%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
        <%= render @cart %>
      <% end %>
    <% end %>

      <a href="/" >Home</a><br />
      <a href="http://www..../faq" >Questions</a><br />
      <a href="http://www..../news" >News</a><br />
      <a href="http://www..../contact" >Contact</a><br />
    </div>
  </div>
  
  <div id="main">
    <%= yield %>
  </div>

</body>
</html>
